# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
generated_plugin_registrant.dart

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Mac
*.DS_Store

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/local.properties

# Windows
windows/Flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/

# Linux
linux/Flutter/ephemeral/
linux/build/

# Web
web/build/

# Test & temp
test/
*.log
*.lock

# Assets ou autres fichiers temporaires
*.swp
